@import '../../css/sass/base.scss';
a.disabled {
	pointer-events: none;
	filter: alpha(opacity=50);
	-moz-opacity: 0.5;
	opacity: 0.5;
}
.chat-header {
	padding: 10px 0;
	line-height: 28px;
	text-align: center;
	border-top: 1px solid #EEF1F5;
	font-size: 14px;
	.tab-list-item {
		position: relative;
		display: inline-block;
		width: 49%;
		cursor: pointer;
		&:nth-of-type(1) {
			border-right: 1px solid #EEF1F5;
		}
	}
	.tab-list-item.is-active {
		color: #1AA5FF;
		&:after {
			content: "";
			display: block;
			position: absolute;
			left: 50%;
			bottom: -10px;
			width: 80px;
			height: 3px;
			margin: auto;
			background: #1AA5FF;
			transform: translateX(-50%);
			-moz-transform: translateX(-50%);
			-webkit-transform: translateX(-50%);
		}
	}
}

.chat-containter {
	width: 100%;
	position: absolute;
	top: 0;
	bottom: 136px;
	height: auto;
	padding: 10px;
	overflow-y: auto;
	background: #EEF1F5;
	.chat-msg-data{
		p {
			display: inline-block;
			&:nth-of-type(1) {
				line-height: 20px;
				color: #4F6074;
			}
			&:nth-of-type(2) {
				padding: 0 10px;
				border-radius: 3px;
				color: #2E3D4B;
				background: #fff;
				word-break: break-word;
				line-height: 2;
			}
			img {
				display: inline-block;
				width: 20px;
				height: 20px;
				vertical-align: middle;
			}
		}
		&.mine {
			text-align: right;
			p:nth-of-type(2) {
				color: #fff;
				background: #1AA5FF;
				text-align: left;
			}
		}
	}
}

.chat-containter .chat-msg-data.error {
	text-align: center;
}
.chat-containter .chat-msg-data.error p{
	color: #F14970;
}

.input-content {
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 0 12px;
}

.chat-input {
	display: block;
	width: 100%;
	padding: 0 10px;
	height: 60px;
	line-height: 30px;
	color: #2E3D4B;
	border: none;
	background: #EEF1F5;
	overflow-y: auto;
	border-radius: 4px;
	word-break: break-all;
}

.chat-input:focus {
	outline: none;
}

.chat-input img {
	display: inline-block;
	width: 20px;
	vertical-align: text-bottom;
}

.input-btn-list {
	display: block;
	width: 100%;
	padding: 1px 0;
	cursor: pointer;
}

.input-btn-list img {
	display: block;
	width: 26px;
	height: 26px;
}
.input-btn-list img:hover, .input-btn-list img:focus {
	opacity: .7;
}

.emotion-content {
	position: absolute;
	width: 98%;
	height: 135px;
	margin: auto;
	margin-left: 1%;
	padding: 10px 0;
	bottom: 145px;
	border-radius: 4px;
	background: #fff;
	box-shadow: 0px 1px 9px #ccc;
}

.emotion-content:before {
	content: "";
	position: absolute;
	left: 7px;
	top: 100%;
	width: 0;
	height: 0;
	border-left: 8px solid transparent;
	border-top: 8px solid #fff;
	border-right: 8px solid transparent;
}

.emotion-content ul {
	width: 100%;
	height: 100%;
	padding: 0 8px;
	overflow-y: auto;
}

.emotion-content ul li {
	display: inline-block;
	width: 30px;
	height: 30px;
	margin: 0 4px;
	text-align: center;
	border-radius: 3px;
	cursor: pointer;
}

.emotion-content li:hover, .emotion-content li:focus {
	background: #C3CBD3;
}
.emotion-content li:active {
	background: #7F899A;
}

.emotion-content li img {
	vertical-align: middle;
}

.input-content button {
	float: right;
	margin: 10px 0;
}

textarea:focus {
	outline: none;
}

.show {
	display: block;
}

.hide {
	display: none;
}

/** userlist */
.user-box {
	height: 100%;
	padding: 14px;
	background: #EEF1F5;
}

.user-wrapper {
	height: 100%;
	overflow-y: auto;
	p{
		margin-top: 20px;
		margin-bottom: 10px;
		font-size: 12px;
		line-height: 18px;
		color: #657482;
		&:nth-of-type(1){
			margin-top: 0;
		}
		img{
			width: 14px;
			height: 14px;
			vertical-align: sub;
			margin-right: 4px;
		}
	}
	span {
	    display: block;
		padding-left: 18px;
	    line-height: 20px;
	    margin-bottom: 10px;
		font-size: 14px;
		font-weight: bold;
		color: #293847;
	}
}

/** tabpane */
.state-modules .tab-panes-container-wrapper {
	height: calc(100% - 100px);
	height: -moz-calc(100% - 100px);
	height: -webkit-calc(100% - 100px);
}

.state-modules .panes-container-box {
	position: relative;
	height: calc(100% - 50px);
	height: -moz-calc(100% - 50px);
	height: -webkit-calc(100% - 50px);
}

.state-modules .tab-pane-wrapper {
	height: 100%;
}

/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar {
	width: 5px;
	/*滚动条宽度*/
}

/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track {
	/* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);  */
	border-radius: 10px;
	/*滚动条的背景区域的圆角*/
	background-color: none;
	/*滚动条的背景颜色*/
}

/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb {
	border-radius: 10px;
	/*滚动条的圆角*/
	/* -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3); */
	background-color: #C3CBD3;
	/*滚动条的背景颜色*/
}

.animation-fade-in {
	animation: fadeIn linear .4s forwards;
	-moz-animation: fadeIn linear .4s forwards;
	-webkit-animation: fadeIn linear .4s forwards;
	-o-animation: fadeIn linear .4s forwards;
}

/** 动画 */
@keyframes fadeIn {
	from { opacity: 0;}
	to { opacity: 1;}
}

@-moz-keyframes fadeIn {
	from { opacity: 0;}
	to { opacity: 1;}
}

@-webkit-keyframes fadeIn {
	from { opacity: 0;}
	to { opacity: 1;}
}

@-o-keyframes fadeIn {
	from { opacity: 0;}
	to { opacity: 1;}
}

.chat-msg-data{
	.user-role-sign{
		display: inline-block;
		padding: 2px;
		border-radius: 4px;
		margin-right: 3px;
		background-color: $main-yellow;
		line-height: 1;
		font-size: 10px;
	}

	.user-role-name{
		font-size: 14px;
	}
}
